/* spacing on all sections */
.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images\\rm187-tang-84.jpg');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
}
/* text css above hero image*/
.intro_title {
    padding-top: 10rem;
    font-size: 4.5rem;
}
.intro_desc {
    font-size: 2rem;
}
.intro-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

.bg {
	background-color: #604040;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
.Header {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.About {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
}

.Experience {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
}

.Portfolio {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.Blog {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.Contact {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.Heading {
	font-size: 18px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.subHeading {
	font-size: 16px;
	font-style: normal;
	font-family: Arial;
	text-align: left;
}

.Footing {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.return {
	font-size: 14px;
	font-style: normal;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	color: grey;
}
