.nav {
	font-size: 12px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
	color: black;
}

.title {
	font-size: 30px;
	font-style: oblique;
	font-family: 'Courier New';
	text-align: center;
	color: grey;
}

.Header {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
	color: black;
}

.About {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	color: black;
}

.Experience {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	color: black;
}

.Portfolio {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: ;
	color: black;
}

.Blog {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
	color: black;
}

.Contact {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
	color: black;
}

.Heading {
	font-size: 18px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
	color: black;
}

.subHeading {
	font-size: 16px;
	font-style: normal;
	font-family: Arial;
	text-align: left;
	color: black;
}

.Footing {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
	color: black;
}

.return {
	font-size: 14px;
	font-style: normal;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	color: grey;
}

#Headshot {
	font-size: 12px;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	color: black;
}