/* hero background image */
.bgimage {
    height:100vh;
    background: url('images\\rm187-tang-84.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.intro_title {
    font-size: 4.5rem;
}
.intro_desc {
    font-size: 2rem;
}
.intro-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* TODO */
.nav-item {
    -webkit-text-fill-color: white;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* FIXME */
.active {
    -webkit-text-fill-color: red;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

.title {
	font-size: 30px;
	font-style: oblique;
	font-family: 'Courier New';
	text-align: center;
	color: grey;
}

.bg {
	background-color: #604040;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
.Header {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.About {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
}

.Experience {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
}

.Portfolio {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.Blog {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.Contact {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.Heading {
	font-size: 18px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.subHeading {
	font-size: 16px;
	font-style: normal;
	font-family: Arial;
	text-align: left;
}

.Footing {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.return {
	font-size: 14px;
	font-style: normal;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	color: grey;
}

#Headshot {
	font-size: 12px;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
}
