/* spacing on all sections */
.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}

/* hero background image */
.bgimage {
    width: 100vw;
    height: 100vh;
    background: url('../images/23-05-12_SMD_TAMU_GradPix_035_b.jpg');
    background-size: cover;
    background-attachment: fixed; /* Fixes the background image to the viewport */
    position:relative;
    padding: 0;
    margin: 0;
    resize:vertical;
}
/* text css above hero image*/
.intro_title {
    padding-top: 10rem;
    font-size: 4.5rem;
}
.intro_desc {
    font-size: 2rem;
}
.intro-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

.bg {
	background-color: #604040;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
.Header {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.About {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
}

.Experience {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
}

.Portfolio {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.Blog {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.Contact {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.Heading {
	font-size: 18px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

.subHeading {
	font-size: 16px;
	font-style: normal;
	font-family: Arial;
	text-align: left;
}

.Footing {
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	text-align: center;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}

/* .fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
} */
/* footer styling */
/* #footer {
    background-color: #808080;
    text-align: center;
} */

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
/* #contact {
    padding-bottom: 4rem;
} */

.return {
	font-size: 14px;
	font-style: normal;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	color: grey;
}
